In [3]:
from pyspark import *
df = spark.read.csv("accounts.csv", header=True)

# Select subset of features and filter for balance > 0
filtered_df = df.select("AccountBalance", "CountOfDependents").filter("AccountBalance > 0")

# Generate summary statistics
filtered_df.summary().show()

NameError: name 'spark' is not defined

In [15]:
## EU DATA TRADE

import pandas as pd

url = "https://ec.europa.eu/eurostat/api/dissemination/sdmx/2.1/data/teiet110?format=TSV&compressed=true"
imports = pd.read_csv(url, sep='\t', compression='gzip', encoding='ISO-8859-1')
imports

,"freq,stk_flow,sitc06,partner,unit,geo\TIME_PERIOD",2024-02,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12,2025-01
0,"M,IMP,TOTAL,WRL_REST,PCH_M12_NSA,EA20",-7.6,-11.2,2.4,-6.4,-8.9,3.7,-1.6,-1.0,3.3,-0.4,3.6,7.6
1,"M,IMP,TOTAL,WRL_REST,PCH_M12_NSA,EU27_2020",-8.9,-11.5,1.2,-5.6,-7.6,4.9,0.3,-0.2,3.8,1.4,4.1,10.9
2,"M,IMP,TOTAL,WRL_REST,PCH_M1_SA,EA20",4.5,0.4,2.0,-0.4,-2.3,1.7,1.8,-2.1,1.8,0.8,-1.2,2.3
3,"M,IMP,TOTAL,WRL_REST,PCH_M1_SA,EU27_2020",5.6,0.7,2.3,0.4,-2.8,2.1,2.1,-2.8,1.7,1.2,-1.4,3.2
4,"M,IMP,TOTAL,WRL_REST,TVAL_SA,EA20",221282.7,222112.1,226483.8,225494.4,220399.8,224211.3,228232.4,223359.9,227432.3,229171.6,226396.2,231566.1
5,"M,IMP,TOTAL,WRL_REST,TVAL_SA,EU27_2020",198829.6,200288.1,204993.0,205789.6,200106.9,204313.4,208581.6,202766.2,206247.8,208778.5,205762.7,212421.2

In [16]:
import pandas as pd

url = "https://ec.europa.eu/eurostat/api/dissemination/sdmx/2.1/data/teiet010?format=TSV&compressed=true"
exports = pd.read_csv(url, sep='\t', compression='gzip', encoding='ISO-8859-1')
exports

,"freq,stk_flow,sitc06,partner,unit,geo\TIME_PERIOD",2024-02,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12,2025-01
0,"M,EXP,TOTAL,WRL_REST,PCH_M12_NSA,EA20",0.6,-8.8,14.4,-1.0,-6.6,9.1,-2.7,0.2,2.4,-1.7,2.9,3.0
1,"M,EXP,TOTAL,WRL_REST,PCH_M12_NSA,EU27_2020",1.1,-8.3,15.4,-0.7,-5.8,10.2,-1.3,0.6,1.7,-1.3,3.7,4.4
2,"M,EXP,TOTAL,WRL_REST,PCH_M1_SA,EA20",-0.1,0.3,2.7,-3.2,0.0,0.3,0.2,-0.3,-1.3,3.1,-0.1,2.1
3,"M,EXP,TOTAL,WRL_REST,PCH_M1_SA,EU27_2020",0.5,0.7,2.8,-3.5,0.6,-0.2,0.6,-1.0,-1.6,3.7,0.3,2.0
4,"M,EXP,TOTAL,WRL_REST,TVAL_SA,EA20",237179.8,237880.0,244189.7,236334.1,236243.4,237005.3,237390.5,236757.3,233740.5,240956.4,240597.0,245566.9
5,"M,EXP,TOTAL,WRL_REST,TVAL_SA,EU27_2020",213434.8,214901.6,220865.2,213146.9,214372.5,214022.7,215409.6,213154.1,209681.1,217346.0,218049.8,222496.0

In [ ]:
import pandas as pd

url = 'http://english.customs.gov.cn/Excel/2-en-%E7%BE%8E%E5%85%83-2025-3_USD23.xls' # In 100 Mln USD , q1 2025

march2025 = pd.read_excel(
    url,
    storage_options={'User-Agent': 'Mozilla/5.0'}, skiprows=9
)

In [ ]:
import pandas as pd

url = 'http://english.customs.gov.cn/Excel/2-en-%E7%BE%8E%E5%85%83-2024-12_USD12.xls' # In 100 Mln USD , q1 2025

cn2024 = pd.read_excel(
    url,
    storage_options={'User-Agent': 'Mozilla/5.0'}, skiprows=9
)

cn2024new = cn2024.iloc[:, 1:4].copy()
cn2024new.columns = ['Metrics', 'Month', 'FY']
cn2024new = cn2024new.loc[cn2024new['Metrics'] == 'Total Export & Import'][['Metrics', 'FY']].copy()


url = 'http://english.customs.gov.cn/Excel/2-en-%E7%BE%8E%E5%85%83-2023-12_USD12.xls' # In 100 Mln USD , q1 2025

cn2023 = pd.read_excel(
    url,
    storage_options={'User-Agent': 'Mozilla/5.0'}, skiprows=9
)

cn2023new = cn2023.iloc[:, 1:4].copy()
cn2023new.columns = ['Metrics', 'Month', 'FY']
cn2023new = cn2023new.loc[cn2023new['Metrics'] == 'Total Export & Import'][['Metrics', 'FY']].copy()

,Unnamed: 0,,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"(1) China's Total Export & Import Values, Dece...",NaN,NaN,NaN,NaN,NaN
2,NaN,Unit: USD 100 Million,NaN,NaN,NaN,NaN,NaN
3,NaN,Item,12.000000,1-to-12,12,NaN,1-to-12
4,NaN,NaN,NaN,NaN,Month-on-Month ±%,Year-on-Year ±%,Year-on-Year ±%
5,NaN,Total Export & Import,5664.161636,61622.886954,7.5,6.5,3.8
6,NaN,Total Export,3356.270377,35772.220279,7.6,10.7,5.9
7,NaN,Total Import,2307.891259,25850.666675,7.5,1.0,1.1
8,NaN,Export-Import Balance,1048.379118,9921.553604,-,-,-
9,NaN,"Note: \nExport-Import Balance ""+"" indicates ex...",NaN,NaN,NaN,NaN,NaN

In [ ]:
import pandas as pd

url = 'http://english.customs.gov.cn/Excel/2-en-%E7%BE%8E%E5%85%83-2023-12_USD12.xls' # In 100 Mln USD , q1 2025

cn2023 = pd.read_excel(
    url,
    storage_options={'User-Agent': 'Mozilla/5.0'}, skiprows=9
)

cn2023new = cn2023.iloc[:, 1:4].copy()
cn2023new.columns = ['Metrics', 'Month', 'FY']
cn2023new = cn2023new.loc[cn2023new['Metrics'] == 'Total Export & Import'][['Metrics', 'FY']].copy()
cn2023new

,Unnamed: 0,,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"(1) China's Total Export & Import Values, Dece...",NaN,NaN,NaN,NaN,NaN
2,NaN,Unit: USD 100 Million,NaN,NaN,NaN,NaN,NaN
3,NaN,Item,12,1-to-12,12,NaN,1-to-12
4,NaN,NaN,NaN,NaN,Month-on-Month ±%,Year-on-Year ±%,Year-on-Year ±%
5,NaN,Total Export & Import,"5,319.0","59,368.3",3.1,1.4,-5
6,NaN,Total Export,"3,036.2","33,800.2",3.7,2.3,-4.6
7,NaN,Total Import,"2,282.8","25,568.0",2.2,0.2,-5.5
8,NaN,Export-Import Balance,753.4,"8,232.2",-,-,-
9,NaN,"Note: \nExport-Import Balance ""+"" indicates ex...",NaN,NaN,NaN,NaN,NaN

In [ ]:
cn2023new = cn2023.iloc[:, 1:4].copy()
cn2023new.columns = ['Metrics', 'Month', 'FY']
cn2023new = cn2023new.loc[cn2023new['Metrics'] == 'Total Export & Import'][['Metrics', 'FY']].copy()
cn2023new

                 Metrics         FY
5  Total Export & Import  59,368.3

In [27]:
import pandas as pd
from datetime import datetime

def retrieve_historical_trade_data(max_attempts=25):
    """
    Retrieves China's annual trade data in USD (100 million units) 
    from GACC website starting from latest available year backward.
    
    Parameters:
    max_attempts (int): Maximum years to attempt retrieving backwards
    
    Returns:
    DataFrame: Combined historical data with Year, Metrics, and FY values
    """
    
    base_url = 'http://english.customs.gov.cn/Excel/2-en-%E7%BE%8E%E5%85%83-{year}-12_USD12.xls'
    all_data = []
    
    # Start from current year (2025) but check availability
    current_year = datetime.now().year-1
    
    for attempt in range(max_attempts):
        year_to_try = current_year - attempt
        url = base_url.format(year=year_to_try)
        
        print(f"Attempting {year_to_try}...", end=' ')
        
        try:
            df = pd.read_excel(
                url,
                storage_options={'User-Agent': 'Mozilla/5.0'},
                skiprows=9
            )
            
            # Validate dataframe structure
            if df.shape[1] < 4:
                print("Unexpected format, skipping")
                continue
                
            # Process data
            df_filtered = df.iloc[:, 1:4].copy()
            df_filtered.columns = ['Metrics', 'Month', 'FY']
            df_filtered = df_filtered.loc[
                df_filtered['Metrics'] == 'Export-Import Balance',
                ['Metrics', 'FY']
            ].copy()
            
            # Clean numerical values (remove commas and non-numeric characters)
            df_filtered['FY'] = df_filtered['FY'].astype(str).str.replace('[^\d.]', '', regex=True).astype(float)
            
            df_filtered['Year'] = year_to_try
            all_data.append(df_filtered)
            print("Success")
            
        except Exception as e:
            print(f"Failed ({str(e)})")
            # Stop if 2 consecutive years fail
            if len(all_data) > 0 and (year_to_try - all_data[-1]['Year'].iloc[0] > 1):
                break
    
    return pd.concat(all_data, ignore_index=True) if all_data else pd.DataFrame()

# Usage
historical_trade = retrieve_historical_trade_data()
print("\nFinal Dataset:")
print(historical_trade)

<>:49: SyntaxWarning: invalid escape sequence '\d'
<>:49: SyntaxWarning: invalid escape sequence '\d'
C:\Users\jonas\AppData\Local\Temp\ipykernel_18512\178201765.py:49: SyntaxWarning: invalid escape sequence '\d'
  df_filtered['FY'] = df_filtered['FY'].astype(str).str.replace('[^\d.]', '', regex=True).astype(float)

Attempting 2024... Success
Attempting 2023... Success
Attempting 2022... Success
Attempting 2021... Success
Attempting 2020... Failed (HTTP Error 404: Not Found)
Attempting 2019... Failed (HTTP Error 404: Not Found)
Attempting 2018... Failed (HTTP Error 404: Not Found)
Attempting 2017... Failed (HTTP Error 404: Not Found)
Attempting 2016... Failed (HTTP Error 404: Not Found)
Attempting 2015... Failed (HTTP Error 404: Not Found)
Attempting 2014... Failed (HTTP Error 404: Not Found)
Attempting 2013... Failed (HTTP Error 404: Not Found)
Attempting 2012... Failed (HTTP Error 404: Not Found)
Attempting 2011... Failed (HTTP Error 404: Not Found)
Attempting 2010... Failed (HTTP Error 404: Not Found)
Attempting 2009... Failed (HTTP Error 404: Not Found)
Attempting 2008... Failed (HTTP Error 404: Not Found)
Attempting 2007... Failed (HTTP Error 404: Not Found)
Attempting 2006... Failed (HTTP Error 404: Not Found)
Attempting 2005... Failed (HTTP Error 404: Not Found)
Attempting 2004... Failed (HTTP Error 404: Not Found)
Attempting 2003... Failed (HTTP Error 404: Not Found)
Attempting 2002... Failed (HTTP Error 404: Not Found)
Attempting 2001... Failed (HTTP Error 404: Not Found)
Attempting 2000... Failed (HTTP Error 404: Not Found)

Final Dataset:
                 Metrics           FY  Year
0  Export-Import Balance  9921.553604  2024
1  Export-Import Balance  8232.200000  2023
2  Export-Import Balance  8776.000000  2022
3  Export-Import Balance  6764.300000  2021

In [54]:
chinese_trade_surplus = historical_trade


chinese_trade_surplus.to_csv(r"C:\Users\jonas\Downloads\finpage-2\src\chinesetrade.csv")

In [ ]:
chinese_trade_surplus

                 Metrics           FY  Year
0  Export-Import Balance  9921.553604  2024
1  Export-Import Balance  8232.200000  2023
2  Export-Import Balance  8776.000000  2022
3  Export-Import Balance  6764.300000  2021

In [ ]:
url = 'http://english.customs.gov.cn/Excel/2-en-%E7%BE%8E%E5%85%83-2025-1-2_USD12.xls' # In 100 Mln USD , q1 2025

cn2025= pd.read_excel(
    url,
    storage_options={'User-Agent': 'Mozilla/5.0'}, skiprows=9
)

In [ ]:
import pandas as pd
from datetime import datetime

def get_usd_code(month):
    return 'USD01' if month == 1 else f'USD{month-1}{month}'

def retrieve_current_year_trade_data():
    now = datetime.now()
    year = now.year
    last_month = now.month - 1
    all_data = []

    for m in range(last_month, 0, -1):
        usd_code = get_usd_code(m)
        success = False
        
        # Try both URL patterns
        for url in [
            f'http://english.customs.gov.cn/Excel/2-en-%E7%BE%8E%E5%85%83-{year}-{m}_{usd_code}.xls',
            f'http://english.customs.gov.cn/Excel/2-en-%E7%BE%8E%E5%85%83-{year}-{m-1}-{m}_{usd_code}.xls'
        ]:
            print(f"Attempting {url}...", end=' ')
            try:
                df = pd.read_excel(
                    url,
                    storage_options={'User-Agent': 'Mozilla/5.0'},
                    skiprows=9,
                    header=None
                )
                
                # Search for "Export-Import Balance" in entire DataFrame
                for row in range(df.shape[0]):
                    for col in range(df.shape[1]):
                        if df.iat[row, col] == 'Export-Import Balance':
                            # Handle February special case (only 1 value)
                            if m == 2:
                                fy_value = df.iat[row, col+1]
                                month_value = fy_value  # YTD = month value for Feb
                            else:
                                month_value = df.iat[row, col+1]
                                fy_value = df.iat[row, col+2]
                            
                            # Clean numerical values
                            month_value = float(str(month_value).replace(',', '')) 
                            fy_value = float(str(fy_value).replace(',', '')) 
                            
                            all_data.append({
                                'Period': f'{year}-{m:02}',
                                'Metrics': 'Export-Import Balance',
                                'Month': month_value,
                                'FY': fy_value
                            })
                            success = True
                            print("Success ✓")
                            break
                    if success: break
                
                if success: break  # Exit URL pattern loop if successful
                
            except Exception as e:
                print(f"Failed ({str(e)})")

        if not success:
            print(f"All patterns failed for month {m}, stopping")
            break

    return pd.DataFrame(all_data) if all_data else pd.DataFrame()

# Execute and display results
current_year_trade = retrieve_current_year_trade_data()
print("\nFinal Dataset:")
print(current_year_trade)

Attempting http://english.customs.gov.cn/Excel/2-en-%E7%BE%8E%E5%85%83-2025-3_USD23.xls... Success ✓
Attempting http://english.customs.gov.cn/Excel/2-en-%E7%BE%8E%E5%85%83-2025-2_USD12.xls... Failed (HTTP Error 404: Not Found)
Attempting http://english.customs.gov.cn/Excel/2-en-%E7%BE%8E%E5%85%83-2025-1-2_USD12.xls... Success ✓
Attempting http://english.customs.gov.cn/Excel/2-en-%E7%BE%8E%E5%85%83-2025-1_USD01.xls... Failed (HTTP Error 404: Not Found)
Attempting http://english.customs.gov.cn/Excel/2-en-%E7%BE%8E%E5%85%83-2025-0-1_USD01.xls... Failed (HTTP Error 404: Not Found)
All patterns failed for month 1, stopping

Final Dataset:
    Period                Metrics        Month           FY
0  2025-03  Export-Import Balance  1026.424638  2729.673854
1  2025-02  Export-Import Balance  1705.151928  1705.151928

In [53]:
current_year_trade.to_csv(r"C:\Users\jonas\Downloads\finpage-2\src\chinesetradethisyear")